VITE_SUPABASE_URL=https://ypnmisjstuwajhtoaiid.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlwbm1pc2pzdHV3YWpodG9haWlkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4MjQ0MTIsImV4cCI6MjEwMTQwMDQxMn0.z5TPrsmtzZ7NInlVYHd9aC4LWzeT7gBt_gXilXpeYEk
